@import "tailwindcss";
@config "../../tailwind.config.js";

:root {
  font-family: 'Inter', sans-serif;
}

body {
  scroll-behavior: smooth;
}

.hero-gradient {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.5) 100%);
}

.product-card:hover .quick-add {
  opacity: 1;
  transform: translateY(0);
}

.quick-add {
  opacity: 0;
  transform: translateY(10px);
  transition: all 0.3s ease;
}